
body {
    font-family: monospace;
}

.hero-image {
    background-image: url("https://cdn02.nintendo-europe.com/media/images/10_share_images/others_3/amiibo_4/H2x1_Amiibo_main_image1600w.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .buttons {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(12, 11, 11);
  }
  

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }

  .light-theme {
    color: #000000;
    background: #e9eb94;
    background-position: center;
  }

  #my-fighter
    {
    display: block;
    position: relative;
    width: 25px;
    top: 0px;
    }

    #my-fighter img
    {
    padding: 0;
    padding-top: 10px;
    display: block;
    width: 165px;
    height: 200px;
    }
    
    #fighter-result 
    {
      position: absolute;
      left: 250px;
      width: 200px;
      top: 200px;
    }

    #fighter-result img
    {
      height: 500px;
      width: 400px;
    }

    #my-opponent
    {
    position: absolute;
    right: 0px;
    width: 200px;
    top: 10px;
    }

    #my-opponent img
    {
      padding: 0;
      padding-top: 10px;
      width: 165px;
      height: 200px;
    }

    #opponent-result 
    {
      position: absolute;
      right: 500px;
      width: 200px;
      top: 200px;
    }

    #opponent-result img
    {
      height: 500px;
      width: 400px;
    }

    #start-button {
      margin: auto;
      display: block;
      width: 100px
    }

    #username-container {
      display: block;
      width: 10px
    }
    
    #username-display {
      margin: auto;
      width: 100px
    }


/* Scrolling Table stuff
  .container{
    padding: 1rem;
    margin: 1rem;
  }
  .table-scroll{
    width:100%; 
    display: block;
    empty-cells: show;
    
     Decoration 
    border-spacing: 0;
    border: 1px solid;
  }
  
  .table-scroll thead{
    background-color: #f1f1f1;  
    position:relative;
    display: block;
    width:100%;
    overflow-y: scroll;
  }
  
  .table-scroll tbody{
     Position 
    display: block; position:relative;
    width:100%; overflow-y:scroll;
     Decoration 
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  
  .table-scroll tr{
    width: 100%;
    display:flex;
  }
  
  .table-scroll td,.table-scroll th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1rem;
    text-align:left;
  }
  
   Other options 
  
  .table-scroll.small-first-col td:first-child,
  .table-scroll.small-first-col th:first-child{
    flex-basis:20%;
    flex-grow:1;
  }
  
  .table-scroll tbody tr:nth-child(2n){
    background-color: rgba(130,130,170,0.1);
  }
  
  .body-half-screen{
    max-height: 50vh;
  }
  
  .small-col{flex-basis:10%;} */